@import url(assets/fonts/font.style.css);

body {
  font-family: IRANSansXFaNum, serif !important;
  direction: rtl;
  margin: 0;
  --scrolling: false;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
  background-color: #FAFAFA;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrolling, transparent);
  opacity: 0.7;
  border-radius: 8px;
  width: 20px;
}